 <% content_for(:head) do -%>
        <%= render_opensearch_response_metadata %>
        <%= auto_discovery_link_tag(:rss, url_for(params.merge(:format => 'rss')), :title => t('blacklight.search.rss_feed') ) %>
        <%= auto_discovery_link_tag(:atom, url_for(params.merge(:format => 'atom')), :title => t('blacklight.search.atom_feed') ) %>
        <%#= render_extra_head_content %>
        <meta name=bagstupid />
      <% end -%>

  <div class="item-tools">
    <ul class="fa-ul" id="item-tools">
      <%= render :partial => 'catalog/show_tools' %>
    </ul>
  </div>
  <%# if part_of_catalog? %>
     <div class="search-bar">
       <div class="container">
         <%= render :partial => 'shared/search_form' %>
       </div>
     </div>
   <%# end %>

  <%= render_document_index %>

